<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>B2CB2B</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
 <div class="container">
     <form class="form-horizontal">
        <div class="row">          
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<span class="label-type"><h2>For individuals</h2></span>
                        <p> 90 days of flexible access to instructor-led online training classes</p>
                         <p>Lifetime access to high-quality self-paced e-learning content and live class recordings</p>                         
                         <p>24x7 learner assistance and support team are available </p>	
   			 <p> Weekend class starting from june daily 2 hrs of course</p><br>
    			 <p>Weekend class ending in august<p>


                     </div>
                 </div>		
             </div>

             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<span class="label-type"><h2>For business</h2></span> 
                         <p>Blended learning delivery model (self-paced eLearning and/or instructor-led options)</p>
    			<p>Flexible pricing options</p>
    			<p>Enterprise grade Learning Management System (LMS)</p>
    			<p>Enterprise dashboards for individuals and teams</p>
    			<p>24x7 learner assistance and support</p>


                     </div>
                 </div>
             </div>
         </div>
		<div class = "row">
			<div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<a th:href="@{/payment_angular}"><input type=button value='ENROLL NOW'></a>
			
			</div>
		</div>
		</div>
			<div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<input type=button value='CALL US @9876543210'>
			</div>
		</div>
		</div>
	</div>

 </div>
</body>
</html>