<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Completed Trainings</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
 <div class="container">
     <form class="form-horizontal" role="form" method="POST">
      <h4><center>Completed Trainings</center></h4>
         <div class="row">

             <div class="col-md-3 field-label-responsive">
                 <img class="icon_card" src="/img/fullstack.jpg" alt="FullStack Training"  width="80">
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         
                         <h4 class="default-text-bold ng-binding" itemprop="name">Full Stack Training</h2><br>
						<p><h6>Full Stack Training includes all technologies like frontend and backend technologies including microservices.</h6> </p>
                     </div>
                 </div>
             </div>
         </div>
         
 </div>
</body>
</html>