<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Current Trainings</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
 <div class="container">
     <form class="form-horizontal" role="form" method="POST">
      
         <div class="row">

             <div class="col-md-3 field-label-responsive">
                 <img class="icon_card" src="/img/python.png" alt="Python Training"  width="80">
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         
                         <h4 class="default-text-bold ng-binding" itemprop="name">Python Training</h2><br>
						<p><h6> Python Training Course is an all-inclusive program that will introduce you to the Python development language and expose you to the essentials of object-oriented programming, web development with Django and game development.</h6> </p>
                     </div>
                 </div>
             </div>
             
             <div class="col-md-3 field-label-responsive">
                 <h6>In progress</h6>
             </div>
         </div>
         
         
        
         <div class="row">

             <div class="col-md-3 field-label-responsive">
                 <img class="icon_card" src="/img/salesforce.png" alt="Salesforce Training"  width="80">
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         
                         <h4 class="default-text-bold ng-binding" itemprop="name">Salesforce Administrator & App Builder Certification Training</h2><br>
			<p><h6> Salesforce Certification training course is designed to ensure that your learn and master the concepts of being a salesforce administrator.</h6></p>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 field-label-responsive">
                 <h6>Course Started on 14th June</h6>
             </div>
         </div>

<div class="row">

             <div class="col-md-3 field-label-responsive">
                 <img class="icon_card" src="/img/net.png" alt=".NET Training"  width="80">
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         
                         <h4 class="default-text-bold ng-binding" itemprop="name">.Net Programming</h2><br>
			<p><h6> Introduction to .net space and .net coding using c#. Master .NET and comprehend the concepts of creating .net projects, advanced techniques and procedures with our .NET programming course.</h6> </p>
                     </div>
                 </div>
             </div>
             <div class="col-md-3 field-label-responsive">
                 <h6>Upcoming course on 25th July</h6>
             </div>
         </div>
 </div>
</body>
</html>