<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>LoginPage</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
 <div class="container">
     <form class="form-horizontal" role="form" method="POST" th:action="@{/signup}" th:object="${user}">
      
         <h2><center>Welcome to User Page</center></h2>
         <div class="row">

             <div class="col-md-3 field-label-responsive">
               
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         
                     </div>
                 </div>
             </div>
		<div class="col-md-3">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <a th:href="@{/logout}">Sign out</a>
                     </div>
                 </div>
             </div>
         </div>
     <div class="row">

             <div class="col-md-2 field-label-responsive">
         
             </div>
             <div class="col-md-4">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     <span>
                         <a th:href="@{/logout}">Notifications</a><br/>
			 			<a th:href="@{/searchtra}">Search Trainings</a><br/>
			 			<a th:href="@{/currenttraining}">Current Trainings</a><br/>
			 			<a th:href="@{/completedtraining}">Completed Trainings</a><br/>
                      </span>   
                     </div>
                 </div>
             </div>
         </div>
 </div>
</body>
</html>